

.header {
	display:flex;
	width:100%;
	font-size: var(--font-size-large);
	height:auto;
	background:var(--background);
	justify-content: space-between;
	align-items: center;
	padding:var(--padding);
	padding-right:120px;
}


.slideshow-container {
	display: flex;
	position:relative;
	justify-content: center;
	align-items: center;
	width: 100%px;
	height:800px;
	background:var(--background);
	margin:10px;
	font-size:0px;
	white-space:nowrap;
	cursor: default;
	overflow: hidden;
	scroll-behavior:smooth;
}


.slideshow-image1 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}

.slideshow-image2 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}

.slideshow-image3 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}


.slideshow-image4 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}

.slideshow-image5 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;
}

.slideshow-image6 {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:1000px;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}



.front-page__main-container{
	display: flex;
	justify-content: space-between;	
	width:1262px;
	height:600px;
	margin-left:135px;
	margin-top:200px;
	background-color:var(--background);
}

.registration-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	
}

.registration-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.registration-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}

.new-website__registration{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
	transition:1s ease-out 100ms;
}


.new-website__registration:hover{
	background:grey;
	transition:1s ease-out 100ms;
}

.registration-button-text{
	font-size:var(--font-size-base);
}


.contact-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	margin-left:100px;
	
}

.contact-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.contact-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}

.new-website__contact{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
	transition:1s ease-out 100ms;
}

.new-website__contact:hover{
	background:grey;
	transition:1s ease-out 100ms;
}

.contact-button-text{
	font-size:var(--font-size-base);
}


.information-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	margin-left:100px;
}


.information-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.information-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}


.new-website__information{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
	transition:1s ease-out 100ms;
}

.new-website__information:hover{
	background:grey;
	transition:1s ease-out 100ms;
}

.information-button-text{
	font-size:var(--font-size-base);
}