/*change class names!!
*/

.filter-buttons{
	display: flex;
	flex-direction: row;
	width:100%;
	height:auto;
	padding:20px;
	justify-content: space-evenly;
	align-items: center;
}

.filter-button{
	padding:5px;
	border-radius:6px;
	font-size: var(--font-size-base);
}

.filter-button:hover{
	cursor: pointer;
	
}

.list-items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	height:auto;
	background-color: var(--background);
	padding: 20px;
}

.list-item{
	width:60%;
	padding:20px;
}

.image-title{
	font-size: var(--font-size-large);
}

.inspiration-image{
	border-radius:6px;
}