

.navigation {
	display:flex;
	width:100%;
	background: var(--background);
	justify-content: center;
	align-items:center;
	margin:0px;
	font-size:20px;
}

.navigation__accordion {
		display: flex;
		width: 10%;
		background: black;
		color:var(--background);
		font-size:20px;
		flex-direction: row;
		flex-wrap: nowrap;
		border:1px solid var(--foreground);
		padding: 5px 10px;
		margin-left: 100px;
		border-radius: 8px;
		align-items: center;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}



.navigation__accordion:hover{
	background:grey;
	cursor:pointer;
}


.header {
	display:flex;
	width:100%;
	font-size: var(--font-size-large);
	height:auto;
	background:var(--background);
	justify-content: space-between;
	align-items: center;
	padding:40px;
	padding-right:100px;
}




.slideshow {
	display: flex;
	position:relative;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
	height:800px;
	background:var(--background);
	margin:10px;
	font-size:0px;
	white-space:nowrap;
	cursor: default;
	overflow: hidden;
	scroll-behavior:smooth;
}


.slideshow img {
	position:absolute;
	max-width:1300px;
	height:670px;
	width:calc(100% / 1);
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}
