

.navigation {
	display:flex;
	width:100%;
	height:auto;
	background: var(--background);
	justify-content: space-evenly;
	align-items:center;
	margin:0px;
	font-size:var(--font-size-base);
	padding:var(--padding);
	padding-top:100px;
	padding-bottom:100px;
}

.navigation__accordion {
		display: flex;
		flex-direction:row;
		flex-wrap: nowrap;
		background: var(--foreground);
		color:var(--background);
		font-size:var(--font-size-base);
		border:1px solid black;
		padding: var(--padding);
		border-radius: 8px;
		justify-content: space-between;
		align-items:center;
		gap: 10px;
		
	}



.navigation__accordion:hover{
	background:grey;
	cursor:pointer;
}

.navigation__accordion-panel{
	width:140px;
	height: 200px;
	padding:var(--padding);
	background-color:var(--background);
	display:none;
	overflow:hidden;
	border:2px solid var(--foreground);
	
}


.header {
	display:flex;
	width:100%;
	font-size: var(--font-size-large);
	height:auto;
	background:var(--background);
	justify-content: space-between;
	align-items: center;
	padding:var(--padding);
	padding-right:120px;
}




.slideshow {
	display: flex;
	position:relative;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
	height:800px;
	background:var(--background);
	margin:10px;
	font-size:0px;
	white-space:nowrap;
	cursor: default;
	overflow: hidden;
	scroll-behavior:smooth;
}


.slideshow img {
	position:absolute;
	max-width:1300px;
	height:600px;
	width:calc(100% / 1);
	justify-content: center;
	align-items: center;
	object-fit: cover;
	cursor: grab;
	margin-left:16px;

}


.front-page__main-container{
	display: flex;
	justify-content: space-between;	
	width:1262px;
	height:600px;
	margin-left:135px;
	margin-top:200px;
	background-color:var(--background);
}

.registration-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	
}

.registration-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.registration-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}

.new-website__registration{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
}


.new-website__registration:hover{
	background:grey;
	transition:2s ease-out 100ms;
}

.registration-button-text{
	font-size:var(--font-size-base);
}


.contact-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	margin-left:100px;
	
}

.contact-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.contact-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}

.new-website__contact{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
}

.new-website__contact:hover{
	background:grey;
	transition:2s ease-out 100ms;
}

.contact-button-text{
	font-size:var(--font-size-base);
}


.information-container{
	width:400px;
	height:770px;
	background-color:var(--background);
	margin-left:100px;
}


.information-header{
	width:400px;
	height:50px;
	background-color:var(--background);
}

.information-header-text{
	font-size:var(--font-size-large);
	font-weight: bold;
}


.new-website__information{
	width:200px;
	height:50px;
	color: var(--background);
	background-color:var(--foreground);
	border: 2px solid var(--foreground);
	border-radius:8px;
	cursor:pointer;
}

.new-website__information:hover{
	background:grey;
	transition:2s ease-out 100ms;
}

.information-button-text{
	font-size:var(--font-size-base);
}