
:root {
	--background: #F5F5F5;
	--foreground: #000;
	--font-size-base: 1rem;
	--font-size-small: 0.5rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.25rem;
	--font-size-extra-large: 1.5rem;

	--font-leading-base: 1.2rem;
	--font-leading-small: 0.6rem;
	--font-leading-medium: 1.2rem;
	--font-leading-large: 1.5rem;
	--font-leading-extra-large: 1.8rem;

	--spacing-small: 1rem;
	--spacing-medium: 2rem;
	--spacing-large: 4rem;
	--hover: lightgrey;

	--padding: 10px 30px;
	--border-size: 1px;
	--border-color:#000;
}

body {
	font-family: "inter";
	font-size: var(--font-size-base);
	padding: 200px;
	background: var(--background);
	color: var(--foreground);
}
